<nav class=opo-nav>
<ul>
  <li><a href="/opo/trip-approvals"><img src="/static/icons/trip-icon.svg">Trip Approvals</a>
  <li><a href="/opo/vehicle-requests"><img src="/static/icons/vehicle-icon.svg">Vehicle Requests</a>
  <li><a href="/opo/profile-approvals"><img src="/static/icons/cert-icon.svg">Student Profiles</a>
  <li><a href="/opo/manage-fleet">Fleet</a>
  <li><a href="/opo/manage-clubs">Clubs</a>
  <li><a href="/opo/calendar">Calendar</a>
            <!--TODO: perhaps a unified "manage" tab?-->


</ul>
</nav>
