{% include "common/site-head.njk" %}
<title>Trip Check-In - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/trip.css">

{% include "common/site-nav.njk" %}

<main>
<section class=info-card>
<h1>Trip Check-In ({{ title }})</h1>
<p><a href="/leader/trip/{{trip_id}}">Return to the trip overview page</a>

{% if not checked_out %}
<p>Your trip is not checked out, so there's no need to check it back in!
<p><a href="/trip/{{trip_id}}/check-out">Go to the check-out page</a>
<p><a href="/leader/trip/{{trip_id}}">Return to the trip overview page</a>

{% elif not checked_in %}
<div><button class="action approve"
             hx-put="/trip/{{trip_id}}/check-in"
             hx-confirm="Are you sure you want to check in?"
             >We have returned safely
</button>
</div>
{% include "trip/check-in-links.njk" %}

{% else %}
<div><button class="action deny"
             hx-delete="/trip/{{trip_id}}/check-in"
             hx-confirm="Are you sure you want to undo your check in?"
             >Undo Check-In
</button></div>
{% include "trip/check-in-links.njk" %}
{% endif %}
</section>
</main>
