    <dt> Med Certs / Expiration <dd> 
        <select name="medcert-type">
            <option> WFA
            <option> WFR
        </select>
        <input id="expiration" type="date" default="expiration date?">  
