{% include "common/site-head.njk" %}
<title>Trip Not Found - DOC Trailhead</title>

{% include "common/site-nav.njk" %}
<main style="display: flex; flex-direction: column; align-items: center;">
<h1>Site Not Found</h1>
<p> Oops! Unfortunately that side could not be found.
<p><a href="/all-trips">Click here</a> to find a trip!
</main>

